<header class="header">
  <div class="d-flex align-items-center justify-content-between w-100">
    <div class="d-flex align-items-center gap-5">
      <img src="https://uat-portal.guardian-md.com/assets/media/logos/gmd-logo.png" height="40" class="mr-2 p-1" />
      <p-button icon="pi pi-align-right"(click)="toggleSidenav()" class="square" [text]="true" severity="secondary "></p-button>

    </div>
    <div class="d-flex gap-3 align-items-center">
      <span class=" position-relative pointer">
        <p-button (click)="showNotificationDropdown($event)" severity="secondary " icon="pi pi-bell" [rounded]="true"
          [text]="true"></p-button>

        <div class="notification " (click)="stopPropogate($event)" [ngClass]="notificationDropdown?'show':''">
          <h4 class="notification-title fw-3 fs-5">Notification</h4>
          <div class="flex flex-column ">
            <div class="d-flex gap-2 single-notification">
              <div class="icon">
                <span class="pi pi-apple"></span>
              </div>
              <div class="text-wraper">
                <p class="m-0 fs-2">I totally would go full with and what I mean with full is the whole . </p>
                <p class="fs-2 m-0 text-muted">about 35 min</p>
              </div>
            </div>
            <div class="d-flex gap-2 single-notification">
              <div class="icon">
                <span class="pi pi-apple"></span>
              </div>
              <div class="text-wraper">
                <p class="m-0 fs-2">I totally would go full with and what I mean with full is the whole . </p>
                <p class="fs-2 m-0 text-muted">about 35 min</p>
              </div>
            </div>
            <div class="text-center">
              <a href="" class="fs-3 p-2 d-block"> View all</a>

            </div>
          </div>
        </div>
      </span>
      <span class="v-hr"></span>
      <div class="d-flex flex-column pointer" (click)="menu.toggle($event)">

        <span class="fs-3">Clinic one</span>
        <span class="fs-2 text-muted">Clinic one</span>
      </div>
    </div>
  </div>
</header>

<p-menu #menu [model]="items" [popup]="true"></p-menu>
