.btn.btn-rounded,
a:link.btn.btn-rounded {
  border-radius: 50px;
  padding: 8px 25px; 
  font-weight: 400;
}

.text-muted {
    color: #314358 !important;
}

.text-danger {
    color: #dc3545!important;
}

p {
    line-height: 1.7;
}