<div class=" px-4 py-5 md:px-6 lg:px-6">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Orders</span>
            <div class="text-900 font-medium text-xl">152</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">24 new </span>
        <span class="text-500">since last visit</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Revenue</span>
            <div class="text-900 font-medium text-xl">$2.100</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-map-marker text-orange-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">%52+ </span>
        <span class="text-500">since last week</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Customers</span>
            <div class="text-900 font-medium text-xl">28441</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-inbox text-cyan-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">520 </span>
        <span class="text-500">newly registered</span>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <div class="surface-card shadow-2 p-3 border-round">
        <div class="flex justify-content-between mb-3">
          <div>
            <span class="block text-500 font-medium mb-3">Comments</span>
            <div class="text-900 font-medium text-xl">152 Unread</div>
          </div>
          <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
            style="width:2.5rem;height:2.5rem">
            <i class="pi pi-comment text-purple-500 text-xl"></i>
          </div>
        </div>
        <span class="text-green-500 font-medium">85 </span>
        <span class="text-500">responded</span>
      </div>
    </div>
  </div>



  <div class="grid">
    <div class="physian-request lg:col-6">
      <div class="gmd-card">
        <div class="gmd-card-header">
          <h3 class="gmd-card-title">Recent Physician Requests
          </h3>
        </div>
        <table class="table gmd-table">
          <thead>
            <tr>
              <th class="p-l-20">Name</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Virat Kohli
              </td>
              <td>12/01/2023</td>
              <td>
                <span class="badge badge-success ">
                  Approved
                </span>
              </td>
            </tr>
            <tr>
              <td>
                uat phy
              </td>
              <td>11/02/2023</td>
              <td>
                <span class="badge badge-pill
                                badge-success success_badge common_badge success_badge">
                  Approved
                </span>
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
    <div class="recent-docuement lg:col-6">
      <div class="gmd-card">
        <div class="gmd-card-header">
          <h3 class="gmd-card-title">Recent Physician Requests
          </h3>
        </div>
        <table class="table gmd-table">
          <thead>
            <tr>
              <th class="p-l-20">Name</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Virat Kohli
              </td>
              <td>12/01/2023</td>
              <td>
                <span class="badge badge-success ">
                  Approved
                </span>
              </td>
            </tr>
            <tr>
              <td>
                uat phy
              </td>
              <td>11/02/2023</td>
              <td>
                <span class="badge badge-pill
                                badge-success success_badge common_badge success_badge">
                  Approved
                </span>
              </td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
