.show-hide {
  right: 30px;
  position: absolute;
  cursor: pointer;
  top: 0;
  padding: 5px
}

.textType .show-password {
  display: none;
}

.login-password-box:not(.textType) .hide-password {
  display: none;
}