<div class="gmd-portal-footer">
    <div class="text-dark order-2 footer-text order-md-1">
        <div class="d-flex align-items-center">
            <span class="footer-text-muted font-weight-500 mr-2 text-muted">2023</span>
            <a href="https://guardianmedicaldirection.com/" target="_blank" class="text-dark gmd-anchor-hover f-w-400 font-14 mt-1">Developed By Guardian IT</a>
                <a href="/survey/CompleteSurvey" class="feedBack-btn ml-2 ml-md-3 px-3">Feedback</a>
        </div>
    </div>
</div>