.login-back-design {
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .top-design {
    height: 80%;
    background: #f6f8fb;
    transform: skewY(-12deg);
    position: fixed;
    top: -166px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .top-design:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 35px;
    background: #81a143;
    z-index: 4;
    bottom: 0;
    right: 0;
  }
  
  .top-design:before {
    content: '';
    position: absolute;
    width: 300px;
    height: 35px;
    background: #81a143ad;
    z-index: 4;
    bottom: -36px;
    left: 0;
  }

  .sign-in-form {
    max-width: 550px !important;
    padding: 0 10px;
    width: 100%
  }

  .form-control:focus {
    background-color: transparent !important
  }

  .card-custom {
    background: white;
    padding: 30px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 0px 30px 4px gainsboro;
    border-radius: 5px;
  }
  
  .main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
  }
  
  .login-logo {
    position: relative;
    width: 220px;
    top: 15px;
  }
  
  

  .gmdLogin input {
    height: 45px;
    padding-left: 40px;
  }
  
  .gmdLogin .input-group-span svg {
    position: absolute;
    top: 14px;
    left: 14px;
  }
  
  .sign-in-heading {
    font-size: 24px;
    font-weight: 500;
    color: #314f84;
  }
  
  .gmdLogin-heading p {
    color: #435765;
    font-weight: 400;
  }
  
  .steric-required {
    font-size: 20px;
    vertical-align: text-top;
  }
  
  .login-footer button {
    width: 100%;
    background: #81a143;
  }
  
  .login-footer button:hover,
  .login-footer .btn.btn:focus {
    background: #81a143;
    border-color: #81a143;
    box-shadow: unset;
  }
  
  .sign-in-form {
    max-width: 550px !important;
    padding: 0 10px;
    width: 100%
  }
  
  @media(max-width: 576px) {
    .sign-in-form .card-custom {
      padding: 0 !important;
    }
  }
  
  @media screen and (max-width: 1600px) {
    .top-design {
      top: -175px;
    }
  }
  
  @media screen and (min-width: 1921px) {
    .top-design {
      top: -320px;
    }
  }
  
  @media (min-width:1601px) and (max-width:1920px) {
    .top-design {
      top: -260px;
    }
  }
