<p-toast></p-toast>
<div class="h-100">
    <div class="gmd-login-main position-relative">
        <div class="login-back-design">
            <div class="top-design"></div>
        </div>
        <p-progressBar mode="indeterminate"  *ngIf="isLoading" [style]="{'height': '6px'}"></p-progressBar>  
        <div class="main-wrapper">
            <div class="sign-in-form">
                <img class="login-logo my-4" src="/assets/images/gmd-logo.png" />
                <div class="card-custom">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>

