/* You can add global styles to this file, and also import other style files */
@import "assets/css/partials/includes";
@import "primeng/resources/themes/saga-green/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&display=swap');

body {
    font-family: 'Lato', sans-serif !important;
}
